$franklin: 'Franklin Gothic', sans-serif; 
$tahoma: 'Tahoma', sans-serif;
$verdana: 'Verdana', sans-serif;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
}